.countriesContainer {
  margin: 4rem 0;
}

.filter {
  width: 100%;
  height: 3rem;
  padding: 0.9rem 0.5rem 0.9rem 1.5rem;
  background-color: var(--dark-blue);
  color: var(--white);
  text-transform: uppercase;
  align-items: center;
  font-weight: 700;
}

.inputPlace {
  margin: 0;
  height: 4rem;
  padding: 2rem 0;
  background-color: var(--light-blue);
  justify-content: center;
}

input {
  width: 90%;
  height: 2rem;
  border-radius: 0.7rem;
  background-color: var(--white);
  color: var(--black);
  border: none;
}

.langs {
  font-weight: 700;
}

.card {
  background-color: var(--darker-blue);
  padding: 1.5rem 1rem;
}
