ul {
  margin: 0;
  padding: 0;
}

.detailsPage {
  margin: 4rem 0;
  padding:0;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.back, .allStats {
  width:100%;
  line-height: 2rem;
}

.back {
  background-color: var(--dark-blue);
}

.back:hover {
  cursor: pointer;
}

.allStats {
  padding: 2rem 0;
}

.detailsPage ul {
  text-decoration: none;
  list-style: none;
  line-height: 1.8rem;
  padding: 3rem 0;
}

.detailsPage li:nth-child(odd) {
  background: var(--dark-blue);
  color: var(--white);
}

#flagBox {
  background-color: var(--dark-blue);
  width: 100%;
}

.allStats img {
  max-width: 60%;
  margin: 1.2rem auto;
}

.stats {
  color: var(--white);
}