li:nth-child(odd) {
  background: var(--dark-blue);
  font-size: 20px;
  color: #ffffff;
}

li {
  border-radius: 5px;
}

.detailsPage {
  margin: 7rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.detailsPage ul {
  text-decoration: none;
  list-style: none;
  line-height: 1.8rem;
}

#flagBox {
  background-color: var(--dark-blue);
  width: 100%;
}

#flagBox img {
  max-width: 60%;
  margin: 1.2rem auto;
}
